@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: "monserrat";
	background: black;
}
nav{
	background: #0082e6;
	height: 80px;
	width: 100%;
	
}
label.logo{
	color: white;
	top: 30px;
	font-size: 30px;
	line-height: 20px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: center;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
	
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active,a:hover{
	background: #1b9bff;
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: left;
	line-height:80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
	
}
@media (max-width: 952px){
	
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul lia{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
		
	}
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover,a.active{
		background: none;
		color: #0082e6;
		
	}
	#check:checked ~ ul{
		left: 0;
	}
}

.container{
	text-align: center;
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #2980b9;
	padding: 0 40px;
	height: 60px;
	overflow: hidden;
	
}
.text1{
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	line-height: 60px;
}
.text1:first-child{
	animation: anim 12s infinite;
	
}
@keyframes anim{
	0%{
		margin-top: 0;
	}
	16%{
		margin-top: -60px;
	}
	33%{
		margin-top: -120px;
	}
	50%{
		margin-top: -180px;
	}
	66%{
		margin-top: -120px;
	}
	82%{
		margin-top: -60px;
	}
	100%{
		margin-top: 0;
	}
	
}
