<select onchange="myFunction(this);" size="4">
				<option>cursive</option>
				<option>italic</option>
				<option>comic Sans</option>
				<option> Didot</option>
				</select>
				<script> 
				function myFunction(selectTag){
				var listValue =
				selectTag.options[selectTag.selectIndex].text;
				 document.getElementById("demo").style.font-family = listValue
				}
				</script>
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
padding: 0;
margin: 0;
font-family: sans-serif;

}
body{
	
	background: #000;
	
}
.menu-bar{
	background: #4caf50;
	text-align: center;
	
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: #fff;
	position: relative;
}
.menu-bar ul li{
	width: 130px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a{
	text-decoration: none;
	color: white;
}
.active, .menu-bar ul li a:hover{
	background: #2bab0d;
	
}
.menu-bar .fa{
	margin-right: 8px;
	
}
.sub-menu-1{
	 display: none;
	 
 }
 .menu-bar ul li:hover .sub-menu-1{
	 
	 display: block;
	 position: absolute;
	 background: #2bab0d;
	 margin-top: 15px;
	 margin-left: -15px;
 }
 .menu-bar ul li:hover .sub-menu-1 ul{
	 display: block;
	 margin: 10px;
 }
	.menu-bar ul li:hover .sub-menu-1 ul li{
	width: 150px;
padding: 10px;
border-bottom: 1px dotted #fff;
background: transparent;
border-radius: 0;
text-align: left;	
		
	} 
	.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
	
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	
	color: #b2ff00;
}

.img{
	position: absolute;
	top: 20%;
	left: 10%;
	border-radius: 53%;
}
.img2{
	position: absolute;
	top: 20%;
	right: 10%;
	border-radius: 53%;
}

.container{
	text-align: center;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
.container span{
	
	text-transform: uppercase;
	display: block;
}
.text1{
	color: white;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 20px;
	
	position: relative;
	
}
.text2{
	font-size: 40px;
	color: #f1f1f1;
	
	margin-bottom: 20px;
}
.text3{
	font-size: 20px;
	color: #f1f1f1;
	letter-spacing: 8px;
	margin-bottom: 20px;
}
.tag{
	color: white;
	text-align: center;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	
	font-size: 30px;
	
} 
.tag span{
	
	display: block;
}
.text4{
	font-size: 30px;
	color: #f1f1f1;
	position: relative;
	margin-bottom: 20px;
}
.text5{
	font-size: 30px;
	color: #f1f1f1;
}
.button{
	display: block;
}
.button a{
	color:  #2bab0d;
	position: absolute;
	top: 70%;
	left: 35%;
	display:block;
	letter-spacing: 2px;
	font-size: 25px;
	overflow: hidden;
	transition: 0.2s;
	text-decoration: none;
}
.button a:hover{
	color:#255784;
	background:#2196f3;
	box-shadow:0 0 10px #2196f3 , 0 0 40px  #2196f3, 0 0 80px #2196f3;
	transition-delay: 1s;
}
.button a span{
	position:absolute;
	display:block;
}
.button a span:nth-child(1)
{
top:0;
left:-100%;
width:100%;
height:2px;
background: linear-gradient(90deg,transparent,#2196f3);
}

.button a:hover span:nth-child(1)
{
	left:100%;
	transition:1s;
}
.button a span:nth-child(3)
{
bottom:0;
right:-100%;
width:100%;
height:2px;
background: linear-gradient(270deg,transparent,#2196f3);
}

.button a:hover span:nth-child(3)
{
	right:100%;
	transition:1s;
	transition-delay:0.5s;
}
.button a span:nth-child(4)
{
top:-100%;
right:0%;
width:2px;
height:100%;
background: linear-gradient(180deg,transparent,#2196f3);
}

.button a:hover span:nth-child(4)
{
	right:100%;
	transition:1s;
	transition-delay:0.25s;
}
.button a span:nth-child(4)
{
bottom:-100%;
left:0%;
width:100%;
height:2px;
background: linear-gradient(360deg,transparent,#2196f3);
}

.button a:hover span:nth-child(4)
{
	bottom:100%;
	transition:1s;
	transition-delay:0.75s;
}

.button1{
	display: block;
	min-height:100vh;
	font-family: consolas;
}
.button1 a{
	color:  #2bab0d;
	position: absolute;
	top: 70%;
	left: 55%;
	display:block;
	letter-spacing: 2px;
	font-size: 25px;
	overflow: hidden;
	transition: 0.2s;
	text-decoration: none;
}
.button1 a:hover{
	color:#255784;
	background:#2196f3;
	box-shadow:0 0 10px #2196f3 , 0 0 40px  #2196f3, 0 0 80px #2196f3;
	transition-delay: 1s;
}
.button1 a span{
	position:absolute;
	display:block;
}
.button1 a span:nth-child(1)
{
top:0;
left:-100%;
width:100%;
height:2px;
background: linear-gradient(90deg,transparent,#2196f3);
}

.button1 a:hover span:nth-child(1)
{
	left:100%;
	transition:1s;
}
.button1 a span:nth-child(3)
{
bottom:0;
right:-100%;
width:100%;
height:2px;
background: linear-gradient(270deg,transparent,#2196f3);
}

.button1 a:hover span:nth-child(3)
{
	right:100%;
	transition:1s;
	transition-delay:0.5s;
}
.button1 a span:nth-child(4)
{
top:-100%;
right:0%;
width:2px;
height:100%;
background: linear-gradient(180deg,transparent,#2196f3);
}

.button1 a:hover span:nth-child(4)
{
	right:100%;
	transition:1s;
	transition-delay:0.25s;
}
.button1 a span:nth-child(4)
{
bottom:-100%;
left:0%;
width:100%;
height:2px;
background: linear-gradient(360deg,transparent,#2196f3);
}

.button1 a:hover span:nth-child(4)
{
	bottom:100%;
	transition:1s;
	transition-delay:0.75s;
}
.pdf{
	position: absolute;
	color: white;
	left: 34%;
	top: 80%;
	font-size: 25px;
}
.testimonials{
	padding:20px 0;
	
	
	text-align: center;
	color:white;
	
}
.inner{
	max-width:1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
}
.border{
	width: 160px;
	height: 5px;
	background: #6ab04c;
	margin: 26px auto;
}
.row{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}
.col{
	flex: 33.33%;
	max-width: 33.33%;
	box-sizing: border-box;
	padding: 15px;
}
.testimonial{
	background: #f1f1f1;
	padding: 60px;
}
.testimonial img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.name{
	color: black;
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
}
.des{
	color: black;
}
.stars{
	color: #6ab04c;
	margin-bottom: 20px;
}
@media screen and (max-width:960px)
{
	.col{
		flex: 100%;
		max-width: 80%;
	}
}
@media screen and (max-width:600px)
{
	.col{
		flex: 100%;
		max-width: 100%;
	}
}