.body{
padding: 0;
margin: 0;
}
.feed{
	width: 85%;
	max-width: 600px;
	background: #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 40px;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 0 20px #000000b3;
	font-family: "montserrat", sans-serif;
}
.feed h1{
	margin-top: 0;
	font-weight: 200;
}
.border{
	width: 120px;
	height: 3px;
	background: #4caf50;
	margin: 20px auto;
}
.txtb{
	border: 1px solid gray;
	padding: 12px 18px;
	margin: 8px 0;
	border-radius: 8px;
	text-align: left;
}
.txtb lable{
	display: block;
	text-align: left-side;
	text-transform: uppercase;
	font-size: 13px;
}
.txtb input, .txtb textarea{
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
	
	
	
	
}
.btn{
	display: inline-block;
	background: #4caf50;
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	width: 100px;
	
	
}





