
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin: 0;
	padding: 0;
	font-family: "monserrat";
	background: #f1f1f1;
}
.team-section{
	
	text-align: center;
	
}
.inner-width{
	max-width: 1200px;
	margin: auto;
	padding: 40px;
	color: FFFFFFF;
	overflow: hidden;
	
}
.team-section h1{
	text-transform: uppercase;
	display: inline-block;
	
	
	font-size: 20px;
	
	
}
.border{
	width: 120px;
	height: 3px;
	background: #4caf50;
	margin: 20px auto;

}

.pe{
	float: left;
	width: calc(100% /3);
	overflow: hidden;
	padding: 40px 0;
	transition: 0.4s;
}
.pe:hover{
	background: #ddd;
}
.pe img{
	width: 120px;
	height: 120px;
	
	
}
.p-name {
	margin: 16px 0;
	text-transform: uppercase;
}
.p-des{
	font-style: sans serif;
	color: darkblue; 
	
	
}
.p-sm{
	margin-top: 12px;
	color: FFFFFF;
	
}
.p-sm a{
	margin: 0 4px;
	display: inline-block;
	width: 30px;
	height: 30px;
	transition: 0.4s;
	color: FFFFFF;
}
.p-sm a:hover{
	transform: scale(1.5);
	color: FFFFFF;
}
.p-sm a i{
	color: FFFFFF;
	line-height: 30px;
	
	
}
@media screen and (max-width:600px){
	.pe{
		width:100%;
	}
}